<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
</head>
<body>
    <title>Lorem ipsum dolor sit amet.</title>

<p>Lorem ipsum dolor sit amet cons
    ectetur adipisicing elit. Saepe hic labor
    um quaerat odio quis magni perspiciatis
     tenetur explicabo alias necessitatibus!</p>
     <a href="/">Back to homepage</a>
</body>
</html>