<h1>Home Page </h1>
<% if(typeof(name) != "undefined"){ %>
  <p>hi <%= name.username %></p>
<% } %>
<form action="/searchresults" method="POST">
  <div>
    <label for="email">search for an item</label>
    <input type="text" id="searchtext" name="searchtext" required>
  </div>
  <button type="submit">Search</button>
</form>
<hr>
<a href="/login">Login</a>
<hr>
<a href="/register">Register</a>
<hr>
<a href="/about">About</a>
<hr>



