<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchresults</title>
</head>
<body>
    <% if(data.searchtext !== null){ %>
        <p>Results for <%= data.searchtext %></p>
      <% } %>
    <p>these items matched your search....</p>
    <hr>
    <a href="/">Back to homepage</a>
</body>
</html>